<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" /></h2><h2>San Diego Vandalism Lawyer</h2>
<p>The crime of vandalism includes damaging, destroying, and defacing schools, churches, cemeteries, mail boxes, motor vehicles, or another&#8217;s personal property. Under California&#8217;s Vandalism Law, Penal Code § 594, if it&#8217;s not your property and you deface, destroy, or damage it, without the owner&#8217;s consent, you have committed a crime of vandalism.<br />
Graffiti on public transportation, defacing street signs, or keying parked cars may seem of little consequence, but these qualify as vandalism crimes. Law enforcement officials in California are highly committed to ending vandalism in the state and will vigorously enforce vandalism laws.</p>
<h2>California Penal Code § 594</h2>
<p>Penal Code § 594 defines vandalism in California as defacing, damaging, or destroying somebody else&#8217;s property with graffiti &#8220;or other inscribed material.&#8221; If you have willfully and maliciously committed the act with the intent to injure or annoy another person, you may be convicted of violating section 594.  Accidental acts are not considered vandalism.</p>
<h2>Defenses Against Vandalism Charges</h2>
<p>Mistaken identity is often a valid defense against vandalism charges. A neighbor may call the police reporting an incident when, in fact, nothing occurred. The motivation of the person making the complaint may be revenge, involvement in a neighborhood or domestic dispute, or an attempt to coerce police into harassing the supposed suspect. An active vandal may attempt to cover up his own activities by accusing somebody else of doing it, thus placing the blame elsewhere.</p>
<h2>Vandalism Charges</h2>
<p>Depending on the circumstances, vandalism charges may be prosecuted as misdemeanors or as felonies. Whether the cause for the vandalism is juvenile mischief, creative expression, or malicious intent, the consequences for it can be severe.</p>
<p>A first time offense with damages under $400 is usually charged as a misdemeanor, with no jail time, fines, restitution, or community service but with three years of &#8220;informal&#8221; probation.</p>
<p>For any property damage crime in the state of California, you may be required to complete up to <strong>300 hours of community service</strong> as part of your sentence. It is possible that your entire required community service requirement will be spent removing graffiti or keeping an area free of vandalism.</p>
<p>A defendant with a prior criminal record, gang affiliations, or charged with vandalism that has hate crime implications, may have otherwise misdemeanor vandalism charges filed as felonies.</p>
<h3><a href="#contact"><span style="text-decoration: underline;">Contact a San Diego Vandalism Lawyer</span></a></h3>
<p>Those who have been accused of vandalism, especially if charged with a felony, need the aggressive representation of an experienced criminal defense attorney such as Sevens Legal, APC. Contact Sevens Legal, APC, today for a free consultation.</p>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>