<div class="container h-100 position-relative cards-sections">
    <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3 action-calls">
        <div class="col testi action-call first">
            <div class="text-center">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">WHAT OUR CLIENTS ARE SAYING</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>

            </div>
            <div class="card-btn"><a href="/testimonials/" class="action-btn ab-1">SEE MORE TESTIMONIALS</a></div>
        </div>
        <div class="col get_started action-call middle">
            <div class="text-center">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">REQUEST FREE CONSULTATION</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">We provide a free consultation and case quote.</p>
            </div>
            <div class="card-btn">
                <a href="#contact" class="action-btn ab-2 contact-scroll">GET STARTED</a>
            </div>
        </div>
        <div class="col evaluation action-call last">
            <div class="text-center">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">WE GET RESULTS</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">250 cases over the last two years of clients that we kept out of jail.</p>
            </div>
              <div class="card-btn">
                <a href="#contact" class="action-btn ab-3 contact-scroll">Free case evaluation</a>
            </div>
        </div>
    </div>
</div>

