<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 logo test">
        <a href="/">
          <picture>
            <source type="image/webp" data-lazy-srcset="/img/1logo.png.webp" srcset="/img/1logo.png.webp">
            <img src="/img/1logo.png.webp" alt="Criminal Defense Attorney San Diego" data-lazy-src="/img/1logo.png.webp" data-ll-status="loaded" class="entered lazyloaded">
          </picture>
        </a>
      </div>
      <div class="col-sm-7">
        <div class="top-content">
          <p>Text Us Now For A <a href="#contact">
              <span>Free Consultation</span>
            </a>
          </p>
          <h2>(619) 430-2355</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "nav" . }}