<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="robots" content="index,all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">

<!-- This site is optimized with the Yoast SEO plugin v19.13 - https://yoast.com/wordpress/plugins/seo/ -->
	{{ if .IsHome}}
<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
{{ else }}
<title>{{ if .Params.Title}}{{ .Params.Title }} | {{.Site.Title}}{{else}}{{.Title}}{{ end }}{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} {{ .Paginator.PageNumber }}{{ end }} | {{.Site.Title}}{{ end }}</title>
{{ end }}
	<meta name="description" content="{{ if .Params.description}}{{ .Params.description}}{{else}}Learn more about {{ if .Title }}{{ .Title}}. San Diego Criminal Defense Lawyer{{end}}{{end}}" />
	<link rel="canonical" href="{{.Site.Params.hostName}}{{ .Permalink | absURL }}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ .Params.Title }}" />
	<meta property="og:description" content="{{ if .Params.description}}{{ .Params.description}}{{else}}Learn more about {{ if .Title }}{{ .Title}}. San Diego Criminal Defense Lawyer{{end}}{{end}}" />
	<meta property="og:url" content="{{.Site.Params.hostName}}{{ .Permalink | absURL }}" />
	<!-- / Yoast SEO plugin. -->

<link rel="shortcut icon" href="/img/favicon.webp" type="image/x-icon" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Aldrich.css">
<link rel="stylesheet" href="/css/Hero-Features-icons.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
<link rel="stylesheet" href="/css/Modern-Contact-Form.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/Team-images.css">
<link rel="preconnect" href="//fonts.googleapis.com">
<link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
<link href="//fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">