<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="robots" content="index,all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">{{ if .IsHome}}
<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta itemprop="name" content="{{ .Title }}" />
<meta name="application-name" content="{{ .Title }}" />
<meta property="og:site_name" content="{{.Site.Params.name}}" />{{else}}
<title>{{ if .Params.Rank_math_title }}{{ .Params.Rank_math_title}}{{ else if .Params.Title}}{{ .Params.Title }} | {{.Site.Title}}{{else}}{{.Title}}{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} {{ .Paginator.PageNumber }}{{ end }} | {{.Site.Title}}{{ end }}{{end}}</title>
<meta property="og:title" content="{{ if .Params.Title}}{{ .Params.title }} | {{.Site.Title}}{{else}}{{.Title}} Page{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} {{ .Paginator.PageNumber }}{{ end }} | {{.Site.Title}}{{ end }}{{end}}" />
<meta name="twitter:title" content="{{ if .Params.Title}}{{ .Params.title }} | {{.Site.Title}}{{else}}{{.Title}} Page{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} {{ .Paginator.PageNumber }}{{ end }} | {{.Site.Title}}{{ end }}{{end}}" />
<meta itemprop="name" content="{{ if .Params.Title}}{{ .Params.title }} | {{.Site.Title}}{{else}}{{.Title}} Page{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} {{ .Paginator.PageNumber }}{{ end }} | {{.Site.Title}}{{ end }}{{end}}" />
<meta name="application-name" content="{{ if .Params.Title}}{{ .Params.title }} | {{.Site.Title}}{{else}}{{.Title}} Page{{ if .IsNode }}{{ if gt .Paginator.PageNumber 1 }} {{ .Paginator.PageNumber }}{{ end }} | {{.Site.Title}}{{ end }}{{end}}" />
<meta property="og:site_name" content="{{ .Site.Params.name }}" />{{ end }}
<meta name="description" content="{{ if .Params.description }}{{ .Params.description}}{{ else}}Learn more about {{ if .Title }}{{ .Title}}. We Offer a Risk Free Criminal Defense Consultation.{{end}}{{end}}" />
<meta itemprop="description" content="{{ if .Params.description }}{{ .Params.description}}{{ else}}Learn more about {{ if .Title }}{{ .Title}}. We Offer a Risk Free Criminal Defense Consultation.{{end}}{{end}}" />
<meta property="og:description" content="{{ if .Params.description }}{{ .Params.description}}{{ else}}Learn more about {{ if .Title }}{{ .Title}}. We Offer a Risk Free Criminal Defense Consultation.{{end}}{{end}}" />
<meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description}}{{ else}}Learn more about {{ if .Title }}{{ .Title}}. We Offer a Risk Free Criminal Defense Consultation.{{end}}{{end}}" />
<base href="{{.Site.Params.hostName}}{{ .Params.url }}">
<link rel="canonical" href="{{.Site.Params.hostName}}{{ .Permalink | absURL }}"  /> 
<meta name="url" content="{{.Site.Params.hostName}}{{ .Permalink }}" />
<meta name="twitter:url" content="{{.Site.Params.hostName}}{{ .Permalink }}" /> 
<meta property="og:url" content="{{.Site.Params.hostName}}{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta name="language" content="{{ .Site.LanguageCode }}">{{ with .Site.Params.default_image }} 
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" /> 
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" /> {{ else }}
  <meta itemprop="image" content="{{.Site.Params.hostName}}{{ .Params.featured_image | absURL }}" />
  <meta property="og:image" content="{{.Site.Params.hostName}}{{ .Params.featured_image | absURL }}" />
  <meta name="twitter:image" content="{{.Site.Params.hostName}}{{ .Params.featured_image | absURL }}" />
  <meta name="twitter:image:src" content="{{.Site.Params.hostName}}{{ .Params.featured_image | absURL }}" /> {{ end }}
<meta property="article:published_time" content={{ .PublishDate.Format "2006-01-02T08:04:05Z0700" | safeHTML }} />
<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T08:04:05Z0700" | safeHTML }} />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{.Site.Params.hostName}}{{ .Site.BaseURL }}sitemap.xml" />

<link rel="shortcut icon" href="/img/favicon.webp" type="image/x-icon" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Aldrich.css">
<link rel="stylesheet" href="/css/Hero-Features-icons.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
<link rel="stylesheet" href="/css/Modern-Contact-Form.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/Team-images.css">
<link rel="preconnect" href="//fonts.googleapis.com">
<link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
<link href="//fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">