<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Rape Lawyer</h2>
<h3>What is Rape?&nbsp;Penal Code Section 261 PC</h3>
<p>When they hear the term rape, many people create a mental image of an assault committed by means of violent physical force. The reality is, however, that rape is any non-consensual sexual activity, including those accomplished without physical means, using such methods as drugs or guile. Any form of sexual conduct forced on a person against their will through means of violence, menace, duress, fear of injury, or other danger is rape under California law.</p>
<p>There are a number of statutes in California that pertain to rape, all of which are among the most serious of criminal offenses with which an individual can be charged.</p>
<p>The most common type of rape (Penal Code Section 261 PC) is defined as criminal offense that involves nonconsensual sexual intercourse by means of threats, force, or fraud.&nbsp; At its core, this form of rape involves vaginal or anal penetration that includes force by instrumentation on someone, conscious or unconscious, or on any victim unable to consent.</p>
<h2>Date Rape</h2>
<p>Date rape charges are also filed under Penal Code Section 261 PC. Cases of this nature can sometimes be highly contested between the victim and the accused with the difference between a conviction and an acquittal depending on who the jury believes. The question of if sex took place is often not questioned, but rather was the sex consensual or not? Most of these cases do not involve force or injury to the victim. Often, they are cases of “he said, she said” with the defendant having the greatest stake in the outcome.</p>
<h2>Other Forms of Rape</h2>
<h3>Penal Code 262 PC “Spousal Rape.”</h3>
<h3>Penal Code 261.5 PC “Statutory Rape.”</h3>
<p>Other forms of rape warrant their own specific statutes in state law. Examples include:</p>
<ul>
<li>– Penal Code 262 PC “Spousal Rape.” Anyone who has intercourse with their spouse without their consent and does so with force or threat, and for sexual pleasure or arousal, is guilty of violating California Penal Code 262.</li>
<li>– Penal Code 261.5 PC “Statutory Rape.” Anyone who knowingly has intercourse with a minor can be found guilty of Statutory Rape. A minor is defined as anyone under the age of 18.</li>
</ul>
<h2>Penalties for Rape</h2>
<p>Rape is one of the most serious criminal charges that a defendant may face. A case may be highly complex because of circumstances that are difficult to explain and understand. The penalties for these offenses are harsh and conviction includes lifetime sex offender registration.</p>
<h3><a href="#contact"><span style="text-decoration: underline;">Contact a San Diego Rape Lawyer</span></a></h3>
<p>Because mere accusations of rape can shatter personal reputations, destroy families, and take away freedoms, it is important that anyone who faces the prospect of rape charges immediately obtain the services of a qualified attorney experienced in sex crime defense. To protect your rights during the investigation and start building an effective defense, you need the aggressive representation provided by Sevens Legal, APC. Contact Sevens Legal, APC, today for a free consultation.</p>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>