<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" /></h2><h2><span style="text-decoration: underline;">San Diego Sex Crimes Lawyer</span></h2>
Because of the sexual nature of some crimes they are covered under very specific laws. Being charged with a crime such as this alters and changes your life in profound ways forever. Even though 95% of sex crime arrests are for first time offenses, judges and prosecutors vigorously enforce the sex crime statutes. Under Megan&#8217;s Law, sex crime has a special stigma and requires mandatory reporting and registering as a sex offender. Speaking with an experience <em><span style="text-decoration: underline;"><strong>San Diego Sex Crimes Lawyer</strong></span></em> is essential.

<strong>Our San Diego Sex Crimes Attorneys Represent the Following Sex Crimes in San Diego:</strong>
<ul>
 	<li>Forcible Rape</li>
 	<li>Statutory Rape</li>
 	<li>Prostitution Offenses</li>
 	<li>Sexual Assault</li>
 	<li>Pimping</li>
 	<li>Child Pornography</li>
 	<li>Urinating in Public</li>
 	<li>Sodomy</li>
 	<li>Child Molestation</li>
 	<li>Internet Sex Crimes</li>
 	<li>Lewd Or Lascivious Acts</li>
 	<li>Sexual Harassment</li>
 	<li>Seduction of a Minor</li>
 	<li>Exhibitionism</li>
 	<li>Contact of Minor w/Intent to Commit Sexual Offense</li>
 	<li>Sexual Abuse of a Child</li>
 	<li>Indecent Exposure and Lewd or Obscene Conduct</li>
 	<li>Minor Sexting</li>
 	<li>Oral Copulation</li>
 	<li>Federal Child Pornography</li>
 	<li>Human Trafficking</li>
</ul>
<h2>Indecent Exposure Sex Crime and Penalties</h2>
Under Penal Code 314 PC &#8220;indecent exposure&#8221; is a sex crime and defined as the &#8220;willful exposing of genitals to somebody else, motivated by a desire for sexual gratification or to offend the other person.&#8221; Like other sex crimes, convictions for indecent exposure carry harsh penalties as well as life-changing consequences which include steep fines, long jail sentences, and many times the requirement of registering as a sex offender for the rest of your life.
Indecent exposure under Penal Code Section 314(1) is usually charged as a misdemeanor. Under Penal Code Section 314(2) PC if a defendant has a prior conviction the crime of indecent exposure can be charged as a felony. If there is a past history of lewd acts with minors, the defendant can be charged under Penal Code Section 288 PC.
<h2>Statutory Rape Sex Crime</h2>
Statutory rape is when a person 18 or over has sexual intercourse with somebody under 18. The age of 18 is the age California has designated as the &#8220;statutory age of consent.&#8221; When said individual over 18 has intercourse with somebody under 18 it is referred to as &#8220;sex with a minor&#8221; and has the charge of rape. It is also illegal in California for a minor to have intercourse with another minor, even if there is mutual consent.
<h2>Child Pornography Possession</h2>
The possession of child pornography is prohibited by laws at the state and federal level. Child pornography is any material depicting minors under 18 simulating or otherwise engaging in sexual conduct. Any transaction of child pornography is prohibited by Federal law, as well as any Internet child pornography transaction due to its interstate nature. Pornographic images consist of anybody who looks like a minor even if they are not. Pornographic drawings are also subject to First Amendment defenses when criminal charges apply.
<h2>Crime of Sexual Battery</h2>
Sexual battery, also referred to as &#8220;sexual assault&#8221; or rape, consists of certain touching as well as certain forms of physical contact. Under California Penal Code Section 243.4 PC this may be charged as a misdemeanor or felony in California depending on the facts of the case and the criminal history of the defendant.
<h2>Child Molestation Sex Crime</h2>
The crime of child molestation is defined as &#8220;lewd acts with a child under age 14,&#8221; and refers to offensive and indecent acts of a sexual nature. According to California Penal Code 288 it is illegal to engage in lascivious or lewd acts with a child. Charges for this usually involve accusations that a child has been touched, fondled on their genitals, or that other overt acts of molestation has taken place. Even if the touching was done through a child&#8217;s clothing and not on bare skin, you can still be charged with lewd acts against a child.
<h3><span style="text-decoration: underline;"><a href="#contact">Contact a San Diego Sex Crimes Lawyer</a></span></h3>
If you have been arrested and accused of a sex crime you have the right to counsel by a <em>San Diego Sex Crimes Attorney</em> such as Sevens Legal, APC. Contact Sevens Legal, APC, today for a free consultation.

Need an Experienced <a href="http://www.danielperlmanlaw.com/sex-crimes.shtml">Los Angeles Sex Crimes Attorney</a>?
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>