<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Assault and Battery Lawyer</h2>
<p>Many people assume that assault and battery are the same thing. Assault and battery, though they often occur within a single incident, are two separate and distinct crimes. In certain jurisdictions, assault and battery are often paired together as one offense, based on the assumption that when someone commits battery they usually have the intent to assault; assault being the intention to do harm and make threats prior to committing the physical act.</p>
<p>In California however, assault (defined under Penal Code 240 PC) and battery (Penal Code 242 PC) are actually two separate crimes. Though separate crimes in California, still the line between the two is often blurred in the public’s mind.</p>
<h2>San Diego Assault Lawyer –&nbsp;Penal Code 240 PC</h2>
<p>An assault charge under Penal Code 240 PC may be filed when an attempt to injure another is made. An assault can cause fear of impending violence in a person even though there is no actual violence inflicted. Any reasonable threat to a person is considered assault and physical contact is not actually necessary to be convicted.</p>
<h2>San Diego Battery Lawyer –&nbsp;Penal Code 242 PC</h2>
<p>California law defines battery under Penal Code 242 PC as any willful and unlawful touch that is harmful and/or offensive. Battery is the use of force against another with intent of causing physical harm without a person’s consent. Battery violates the comfortable personal space of a person without their consent and causes them bodily harm.</p>
<p>Threatening an individual verbally is assault, and may be thought of as an attempt to commit battery. Physically striking the person is battery.</p>
<p>In California, the crimes of assault and aggravated assault involve intentional harm inflicted on one person by another. An assault is carried out by a threat of bodily harm coupled with an apparent, present ability to cause the harm. Because assault and battery laws are both found in criminal as well as civil law, either may result in criminal and/or civil liability. In civil law, an assault that results in an injury or harm constitutes the basis for a legal claim by the injured party.</p>
<h2>San Diego Aggravated Assault Lawyer</h2>
<p>Certain assaults are considered aggravated assault when a person causes serious bodily injury purposely, knowingly, or recklessly under circumstances manifesting extreme indifference to the value of human life. Assault with a deadly weapon, commonly referred to as ADW, is an aggravated assault because it is committed with any type of deadly weapon or by means of force that is likely to cause great bodily injury to another. ADW is a “wobbler,” meaning that, depending on the circumstances, prosecutors can charge it as either a misdemeanor or a felony.</p>
<h2>California State Law</h2>
<p>State battery law prohibits the willful and unlawful use of force or violence against anybody. The Penal Code includes specific code sections regarding battery against specified persons such as peace officers, police officers, fire fighters, emergency response technicians, school employees, and others. The Penal Code also establishes separate laws regarding battery in the context of domestic violence.</p>
<h2>San Diego Sexual Battery Attorney -Penal Code Section 243.4(e)(1)</h2>
<p>Another type of battery, sexual battery, is defined under Penal Code Section 243.4(e)(1). Misdemeanor sexual battery occurs when “(a)ny person … touches an intimate part of another person, if the touching is against the will of the person touched, and is for the specific purpose of sexual arousal, sexual gratification or sexual abuse.”</p>
<h3><a title="Contact" href="https://www.sevenslegal.com/contact/"><span style="text-decoration: underline;">Contact a San Diego Assault and Battery Lawyer</span></a></h3>
<p>The complexities of assault and battery laws are difficult for the average person to grasp, especially when a defendant finds themself charged under multiple sections of the Penal Code, all stemming from a single incident. This legal web is best negotiated with the assistance of qualified legal counsel like Sevens Legal, APC.</p>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>