<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}

    <style>
        a {
        color: #ae7a27;
        text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>

</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}

    <div class="container" style="max-width: 100%; padding: 8%;">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 style="color: #ae7a27;">Escondido Criminal Defense Attorney</h3>
                    <p style="font-size: 13px;"><span><a href="https://sandiegoduilawyers.com/escondido-dui-lawyer/">Sevens Legal</a></span>, APC 500 La Terraza Blvd. Suite 150, Escondido, CA 92025 Phone: (760) 973-4005 Visit Our Escondido DUI Defense site <span><a href="https://plus.google.com/+SevenslegalEscondido">here</a></span></p>
                    <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe>
                </div>
            </div>
        </div>
    </div>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>