<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2>San Diego Marijuana Lawyer</h2>
California is one of two-dozen states that have legalized marijuana for medical use. Recreational use of marijuana is still illegal in the state of California and possessing marijuana or intent to sell marijuana can carry heavy convictions. Although sentencing for marijuana has been pulled back in recent years, one ounce of marijuana or 28.5 grams is an infraction; police often get around this provision by charging minor offenders with felony intent to sell. You may find yourself being charged with intent to sell if you have cash, scales, and large amounts of marijuana or marijuana in bags on your persons. Due to proposition 36 and other legislation, if you are convicted of a misdemeanor marijuana charge you may find yourself paying a small fine. Charges are often reduced or dropped for first time offenders with the help of a criminal defense attorney.
<h2>Penalties and convictions for Marijuana</h2>
Possession&nbsp;of marijuana is a misdemeanor under California Health and Safety Code Section&nbsp;11357. Possession of&nbsp;<em>one ounce (28.5 gms) or less</em>&nbsp;is punishable by a maximum $100 fine; jail time is possible for larger amounts or for hashish, which is an optional felony (“wobbler”). Possession offenders can avoid conviction by making a preguilty plea under&nbsp;penal code 1000, in which case their charges are dismissed upon successful completion of a diversion program. Possession offenses are expunged from the record after two years under Health and Safety Code Sections&nbsp;11361.5&nbsp;and&nbsp;11361.7.

Possession with intent to sell&nbsp;any amount of marijuana is a felony. Health and Safety Code&nbsp;11359. There is a medical exemption in&nbsp;HS11362.775.

Cultivation&nbsp;of any amount of marijuana is a felony under Health and Safety Code&nbsp;11358. People who grow for personal use are eligible for diversion under&nbsp;Penal Code 1000&nbsp;so long as there is no evidence of intent to sell. There are no fixed plant number limits to personal use cultivation.

Sale, transportation or distribution&nbsp;of marijuana is a felony under Health and Safety Code Sections&nbsp;11360.Transporting or giving away (furnishing)<em>&nbsp;one ounce or less</em>&nbsp;is a misdemeanor punishable by a maximum $100 fine. There is a medical exemption in&nbsp;HS11362.775.

Using a minor in the unlawful sale or transport of marijuana is a felony punishable by 3-7 years imprisonment. Inducing a minor to use marijuana is also a felony punishable by 3-7 years imprisonment.

&nbsp;
<h2>Health and Safety Codes you may be charged with</h2>
&nbsp;
<ul>
 	<li>Possession for personal use- Health &amp; Safety Code 11357</li>
</ul>
&nbsp;
<ul>
 	<li>Cultivation- Health &amp; Safety Code 11358</li>
</ul>
&nbsp;
<ul>
 	<li>Possession with Intent to sell- Health &amp; Safety Code 11359</li>
</ul>
&nbsp;
<ul>
 	<li>Sale, Gift, Transport or Import- Health and Safety Code 11360</li>
</ul>
&nbsp;
<ul>
 	<li>Sale to a Minor- Health &amp; Safety Code 11361</li>
</ul>
&nbsp;
<h2>DUI of Marijuana</h2>
Driving under the influence of Marijuana is a crime in California under vehicle code 23152 (e) VC. However, the law does not specify any particular amount of THC in the bloodstream automatically established impairment, making the crime difficult to prove.

&nbsp;
<h2><span style="text-decoration: underline;"><a href="https://www.sevenslegal.com/contact/">Contact a San Diego Marijuana Lawyer Now</a></span></h2>
At Sevens Legal we maintain a high level of professionalism and passion for defending our clients. Sevens Legal has decades of experience and knowledge in dealing with criminal charges and will see that you are given the best defense possible. Most oftentimes, charges are reduced or dropped and you will find that we make the legal process as comfortable as possible for all our clients. If you have any questions regarding a marijuana conviction, please call for a free consultation.
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>