<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><strong><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Theft Lawyer</strong></h2>
          <p>If charged with a theft crime you can face severe criminal penalties and social stigma. The attorneys at Sevens Legal, APC are here to fight for your rights and restore your reputation. Our attorneys have years of experience and knowledge to obtain a result in your favor, no matter the severity of the charges you may be facing.</p>
<p><strong>Common Types of Theft Offenses:</strong></p>
<ul>
<li>Petty Theft
<ul>
<li>Property valued at $950.00 or less</li>
<li>Not taken from the person of another</li>
</ul>
</li>
<li>Grand Theft
<ul>
<li>Property valued at $950.00 or more</li>
<li>Taken from the person of another</li>
<li>Of an automobile or firearm</li>
</ul>
</li>
<li>Burglary
<ul>
<li>Entering the property of another with the intent to commit a felony.</li>
</ul>
</li>
<li>Robbery
<ul>
<li>Taking the personal property in the possession of another, from his or her possession with the use of force or fear.</li>
</ul>
</li>
<li>Identity Theft
<ul>
<li>Taking personal information and using it for an unlawful purpose</li>
</ul>
</li>
<li>Receiving or Possession of Stolen Property
<ul>
<li>Knowingly buying, receiving, selling or concealing property that has been stolen from another person</li>
</ul>
</li>
</ul>
<p>No matter the type of theft crime, the punishment is severe. Theft crimes can be classified as a misdemeanor or felony.&nbsp; Fines, jail and/or prison time are often standard punishment.&nbsp; Individuals may also be subject to civil liability if the alleged theft is from a retailer.</p>
<h2><strong>Defenses to Theft Crimes</strong></h2>
<p>If you are facing theft charges in California, there are a number of defenses that can be employed to your advantage. Most notably, we will work to demonstrate that you did not have the requisite intent to steal any property and you had a good faith belief that the property was yours to possess. Of course, all circumstances must be reviewed when faced with theft charges but we believe in you and your day in court.</p>
<h2>Contact a San Diego Theft Lawyer</h2>
<p data-ctm-watch-id="1" data-ctm-tracked="1" data-observe="1" data-observer-id="0" data-ctm-remark="1">Call our experienced attorneys to fight for your rights. We are available and can provide you with the defense you deserve. Call now 619-430-2355.</p>
<p>&nbsp;</p>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>