<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}


    <style>

        .ti {
            font-size: 22px;
            padding: 10px;
            background-color: #dcaa5c;
            color: black;
        }

        .ti:hover {
            color: white;
            cursor: pointer;
        }

    </style>

</head>

<body class="{{ .Type }} {{ with .File }}{{ .TranslationBaseName }}{{ end }}"> 
    {{ partial "header" . }}
    {{ partial "banner" . }}
       {{ partial "awards" . }}
         {{ partial "breadcrums" . }}
    <main class="site-main">
        <section class="text-center blogs_sec">
        <div class="container text-start">
            <div class="row">
                <div class="col-8" style="margin: 30px;">
                    
                    {{ range .Paginator.Pages }}
                    <div>
                        <section>
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col">
                                    <a href="{{ .Permalink }}" style="text-decoration: none;">
                                        <h3 class="ti">{{ .Title }}</h3>
                                    </a>
                                    <p style="border-color: rgb(0,0,0);color: rgb(68,68,68);margin-top: 10px;">{{ .Params.summary }} [...]</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    {{ end }}
                    {{ template "_internal/pagination.html" . }}
                </div>
                <div class="col" style="margin-top: 50px;">
							<div class="sidebox" id="categories-2"><h2>Categories</h2>
							{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="panel panel-default sidebar-menu">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {{ $current := . }}
            {{ range $name, $items := .Site.Taxonomies.categories }}
            <li{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/categories/%s/") }} class="active"{{ end }}>
                <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | upper }}</a>
            </li>
            {{ end }}
        </ul> 
    </div>

</div>
{{ end }}
{{ end }}
   </div>                  
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
</body>

</html>
