<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><strong><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego DUI Tests</strong></h2>
<p>In the state of California, the law requires that you agree to participate in a breath or blood test if you are charged with a DUI/DWI. If an officer possesses probable cause to suggest that you have been operating a vehicle under the influence of alcohol, the “Implied Consent” law under California Vehicle Code Section 23612 states that you must consent to a chemical test of either breath, blood or urine to determine if your Blood Alcohol Concentration (BAC) is within the legal limits of 0.08%.</p>
<h2>Field Sobriety Tests</h2>
<p>These field sobriety tests must be taken at the time of your actual arrest where you will be given the option of either a blood or breath analysis. A condition to refusing a blood test is if an individual has a heart condition or is a hemophiliac and requires regular use of anticoagulant medications. The “Implied Consent” law also states that you must consent to a preliminary breathalyzer analysis in the field prior to arrest, known as a “field sobriety test.” Based on the results of this initial analysis, an officer will determine if there is probable cause to suggest that you have been driving under the influence of alcohol. It is within your rights to refuse the initial field breathalyzer analysis, however if the officer has reason to believe that you have been drinking based on other indications, he or she may arrest you, in which case the law demands further testing following your arrest.</p>
<h2>Understanding Your Rights</h2>
<p>Understanding your rights in regards to a DUI/DWI situation is incredibly important, and the skilled attorneys at Sevens Legal, APC of San Diego will educate you fully as to your legal standing. At the time of your arrest, an officer must inform you that if you choose to refuse an initial breathalyzer analysis test, you will experience severe penalties if later convicted of a DUI/DWI. Such penalties may include being fined, having your license suspended or revoked and possible incarceration. The officer must also inform you that you do not have the right to consult an attorney as to whether or not you should proceed with taking the test and that your decision to refuse the initial test may be used against you in court.</p>
<h2>California Vehicle Code Sections 13353 and 14905</h2>
<p>According to the California Vehicle Code Sections 13353 and 14905, depending upon your offense, whether it be your first, second, third or fourth &#8211; a refusal to consent to an initial breathalyzer analysis test may result in the suspension of your license for 1 to 4 years and a $125 fine. Refusal to take a chemical analysis test does not in any way guarantee that you will not be convicted of a DUI/DWI. A judge and the prosecution can use the fact that you refused an initial test to suggest that you did so knowing that you were guilty of having a Blood Alcohol Concentration (BAC) of 0.08% or higher.</p>
<h2>Contact a San Diego DUI Defense Lawyer</h2>
<p>At Sevens Legal, we are here to support you with what may be the hardest challenge of your entire life. With careful consideration of case specifics and impeccable analysis of all available evidence, our attorneys will build your case with bedrock integrity. We will inform you about your rights, empower you with knowledge and aggressively represent your interests in court. If you or someone you love is in need of sound legal counsel in regards to a criminal defense charge, call our skilled attorneys at Sevens Legal, APC today at 619-297-2800 for a free consultation.</p>
<p>&nbsp;</p>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>