<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><strong><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego DMV Hearing Defense Lawyer</strong></h2>
Thousands of California motorists have their driver’s licenses suspended by the Department of Motor Vehicles every year for a variety of reasons. These reasons range from DUI arrests, negligent operator accusations, failure to appear (FTA), fatal and serious injury accidents, and medical suspensions. Though the DMV can’t suspend a driver’s license without a hearing, and the driver has certain rights, the process can be difficult for those not familiar with the procedure. A qualified attorney that is experienced in defending clients at suspension hearings is the best option for achieving your objective in a DMV hearing.
<h2>DUI and the Administrative Per Se Hearing</h2>
If you have been arrested for a DUI, you are subject to California’s “Administrative Per Se (APS)” or “on-the-spot” license suspension law. A Notice of Suspension issued at the time of arrest allows a driver just ten days to request an APS hearing if they intend to contest the suspension of their driver’s license.
An APS hearing is very complex and technical, and is usually based on police and chemical test reports, that focus on the driver’s blood alcohol content (BAC). The APS hearing is a critical opportunity to show that the suspension or revocation is not justified, making it imperative to be represented by a lawyer who is knowledgeable about the DMV hearing process.
<h2>California’s Negligent Operator Treatment System (NOTS)</h2>
The DMV keeps a public record of your driving history, utilizing a point system to rate driving records. Every incident, from a minor moving violation to being involved in a hit-and-run accident will add points that appear on your record for 36 months or more. The department may also take a negligent operator action (including suspension) when a driver is involved in a fatal or injury accident, even though the driver may not have accumulated negligent operator points. Any California driver who receives a certain number of points for moving violations or other driving-related offenses can have his or her license suspended or restricted under California’s Negligent Operator Treatment System (NOTS).

If a driver accumulates too many points in a given period of time, a NOTS computer generates a series of warning letters and progressive sanctions (i.e. suspension) against your driving privilege. If you fail to take action, the DMV will assume that their allegations against you are correct and that your driver’s license warrants suspension. In these situations, you have a right to a Negligent Operator hearing. However, you or your attorney must set the process in motion. The DMV will not automatically set up an administrative hearing on your behalf.
<h2>NOTS HEARINGS</h2>
The purpose of the NOTS hearing is to consider the driver’s record, including mitigating and aggravating circumstances, decide whether the driver should be classified as a negligent operator under the point count system, and determine whether any action against his/her driving privilege is needed.

Because a driver must be given the opportunity to produce evidence and testify in detail regarding his or her driver record, the driver should employ experienced legal counsel to take on the task of preparing and gathering the evidence and testimony needed to produce optimal results. The DMV requires that all hearing action must be supported by a preponderance of evidence.

The scope of a NOTS hearing is limited to the following:
<ul>
 	<li>Correctness of driver record.</li>
 	<li>If there are any pending court charges, collisions or convictions not shown on the record (which will not be used as the basis for an action, but may reflect whether the driver has a negligent pattern of driving).</li>
 	<li>If the driver is responsible for collisions on the driver record.</li>
 	<li>Alcohol consumption related to major violations and collisions when indicated by the record.</li>
 	<li>Any mitigating/aggravating factors.</li>
 	<li>Physical and Mental conditions related to the driving record.</li>
</ul>
<h3><a href="#contact"><span style="text-decoration: underline;">Contact a San Diego DMV Hearing Defense Lawyer</span></a></h3>
It is important to remember that at any <a href="https://sandiegoduilawyers.com/dmv-hearing-lawyer/" target="_blank" rel="noopener">DMV negligent operator hearing, the driver has the right to be represented by an attorney</a> and to present evidence of mitigating factors or other information that may aid his or her case.
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>