<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Prostitution Lawyer</h2>
<h3>Prostitution Enforcement and Prosecution</h3>
<p>Although prostitution is considered to be a victimless crime, it’s still a violation of the law that is aggressively enforced as well as prosecuted.</p>
<p>In California a police officer has the right to arrest the customer, the pimp (or middleman), as well as the prostitute. Law enforcement conducts many undercover stings in metropolitan areas to catch people in the act of soliciting and engaging in prostitution. In addition to solicitation on the street, in bars and hotels, and other public venues, law enforcement also aggressively seeks arrests for online prostitution.</p>
<h2>Definition of Prostitution –&nbsp;Penal Code § 647(b)</h2>
<p>Prostitution can be defined as “knowingly engaging in or offering to engage in a sexual act for payment or other goods or services.”</p>
<p>Prostitution is the exchange of money for sexual intercourse as well as any lewd act between two or more people. A “lewd act” generally refers to the touching of any private part belonging to another person in order to arouse or satisfy a sexual desire. Under California Penal Code § 647(b), prostitution (i.e., soliciting sex for money), is a misdemeanor, whereas pandering or pimping is a felony offense.</p>
<h2>Prostitution Conviction</h2>
<p>In order for either the solicitor or provider of prostitution services to be convicted of prostitution under Penal Code § 647(b), the prosecution must prove beyond a doubt that: (1) you offered or accepted an offer to perform the act of prostitution; (2) you willingly intended to engage in performing the act of prostitution; and (3) you performed the sexual acts required to accomplish the act of prostitution.</p>
<h2>Sex Offender Registration</h2>
<p>Even though it is not required under the law for convicted prostitutes to register as sex offenders, the Court may still require this if it determines the defendant committed prostitution as a result of sexual compulsion or sexual gratification. If the court requires a prostitute to register as a sex offender, they are required to follow all legally applicable rules, and are subject to any penalties for failing to register.</p>
<h2>Experience Matters</h2>
<p>The best defense to prevent having to register as a sex offender if convicted of prostitution is to establish the defendant did not engage in prostitution out of sexual compulsion or sexual gratification.</p>
<h3><a href="#contact"><span style="text-decoration: underline;">Contact a San Diego Prostitution Lawyer</span></a></h3>
<p>If you have been arrested and accused as prostitution, it is imperative that you understand the laws and implications relating to your case by consulting an experienced criminal defense attorney such as Sevens Legal, APC. Contact Sevens Legal, APC, today for a free consultation.</p>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>