<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" /></h2><h2>San Diego Domestic Violence Lawyer</h2>
A common misconception about domestic violence is that it only involves women. Domestic violence refers to any dispute between husbands and wives, fathers and sons and/or daughters, mothers and sons and/or daughters, same-sex couples, and co-habitating couples. Domestic violence has psychological and emotional scars that last long after the physical ones.

Domestic Violence is a “violent confrontation that occurs between family members or between people who live together or are in a dating relationship.”
<h2>Drugs and Alcohol</h2>
The source of many domestic violence cases are drugs and alcohol, and sometimes weapons are involved. The state of California does not take domestic violence lightly. If you or a loved one is a victim of domestic violence you need the expert legal assistance of a skilled domestic violence attorney. Sevens Legal, APC, can help support and educate you while aggressively representing you with compassion and understanding.
<h2>What Constitutes Domestic Violence?</h2>
Domestic violence includes beating, threatening, sexual assault, or other harm to another person. Angry words can lead to a push or slap, then escalate to other forms of physical, psychological, or emotional abuse. The following charges are also related to domestic violence:
<ul>
 	<li>&nbsp;&nbsp;&nbsp; Child endangerment</li>
 	<li>&nbsp;&nbsp;&nbsp; Child abuse</li>
 	<li>&nbsp;&nbsp;&nbsp; Physical injury to a spouse or co-habitant</li>
 	<li>&nbsp;&nbsp;&nbsp; Temporary or permanent restraining order</li>
 	<li>&nbsp;&nbsp;&nbsp; Restraining order violations</li>
</ul>
&nbsp;
<h2>Penalties for Domestic Violence</h2>
Domestic violence carries with it a misdemeanor charge that will remain on your record permanently and can be used against you in subsequent crimes for 7 years after the initial conviction. This can negatively influence future employment as well as other opportunities for as long as 7 years after being convicted.
<h2>Misdemeanor Domestic Violence Charge</h2>
Misdemeanor charges can include loss of employment, jail time, loss of child custody, altered or loss of child visitation rights, as well as legal fees and fines. The well-being and security of your children are also impacted when you lose them because of domestic violence.
<h2>Federal Law for Domestic Violence</h2>
Federal law for a domestic violence misdemeanor means you cannot legally own or carry a firearm. If you are in law enforcement or in the military, a conviction for domestic violence will usually end your career.
<h3><span style="text-decoration: underline;">Contact&nbsp;a&nbsp;San Diego Domestic Violence Lawyer</span></h3>
Domestic violence and abuse charges are sensitive issues with severe punishments resulting in long lasting social stigma. If you have been charge with, or are the victim of, domestic violence you need to contact Sevens Legal, APC, to help protect you freedom and reputation. Contact <strong><a href="https://www.domesticviolenceattorneysandiego.com">Domestic Violence Attorney San Diego</a></strong> today for a free consultation.
<h2>If you need a&nbsp;<a href="https://619divorce.com/san-diego-domestic-violence-lawyer/">domestic violence lawyer san diego for divorce please click here</a>.</h2>
&nbsp;

&nbsp;    
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>