<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        color: inherit;
    }
</style>

<footer class="text-center py-4" style="background: #D7A556;">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col text-start">
                <h2 class="text-start">SAN DIEGO CRIMINAL DEFENSE ATTORNEYS</h2>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">SEVENS LEGAL, APC<br>3555 FOURTH AVE,<br>SAN DIEGO, CA 92103<br>PHONE: (619) 430-2355</p><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="https://www.google.com/maps/place/Sevens+Legal,+APC/@33.1125565,-117.0980729,17z/data=!3m1!4b1!4m5!3m4!1s0x80dbf48e93d388db:0x9d661379896854be!8m2!3d33.1125565!4d-117.0958842">GET DIRECTIONS</a></span>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6711.754648726531!2d-117.1614!3d32.742448!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb4c889ccb39704b!2sSevens%20Legal%2C%20APC!5e0!3m2!1sen!2sus!4v1667222691326!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col text-center justify-content-center align-content-center">
                <div class="d-flex justify-content-between"><img src="/img/1fb.png" style="margin: 5px;"><img src="/img/1google.png" style="margin: 5px;"><img src="/img/1tw.png" style="margin: 5px;"><img src="/img/1yelp.png" style="margin: 5px;"><img src="/img/1in.png" style="margin: 5px;"></div>
            </div>
            <div class="col text-start">
                <h2 class="text-start">ESCONDIDO</h2><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="/defense/">ESCONDIDO CRIMINAL DEFENSE ATTORNEY</a></span>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">500 LA TERRAZA BLVD.<br>SUITE 150,<br>ESCONDIDO, CA 92025<br>PHONE: (760) 973-4005</p><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="https://www.google.com/maps/place/Sevens+Legal,+APC/@33.1125565,-117.0980729,17z/data=!3m1!4b1!4m5!3m4!1s0x80dbf48e93d388db:0x9d661379896854be!8m2!3d33.1125565!4d-117.0958842">GET DIRECTIONS</a></span>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6683.735844468286!2d-117.095884!3d33.112556!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d661379896854be!2sSevens%20Legal%2C%20APC%20-%20Criminal%20Lawyers!5e0!3m2!1sen!2sus!4v1667222708389!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>

{{ partial "sub-footer" . }}