<section class="photo-gallery py-4 py-xl-5 page-template-practice-areas-php">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>PRACTICE AREAS</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center align-items-center photos"
            data-bss-baguettebox="">

            <div class="col item" style="height: 150px;"><span
                    class="box-title">Criminal
                    Defense</span>
                <a href="/criminal/"><div class="dis">
                    <img class="img-fluid " data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1areas-of-defense.jpg.webp" width="367" height="103" style="margin-top: 1px;">
                        <div class="overlay">
                    <p class="text">Criminal Defense</p>
                </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego DUI Lawyer</span>
                <a href="https://sandiegoduilawyers.com/san-diego-dui-attorney/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-DUIDWI-Defense-Lawyers.jpg.webp" width="367" height="103"
                        style="margin-top: 1px;">
                   <div class="overlay">
                    <p class="text">San Diego DUI Lawyer</p>
                   </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego DUI Penalties</span>
                <a href="/san-diego-dui-penalties-lawyer/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-DUI-Penalties.jpg.webp" width="367" height="103" style="margin-top: 1px;">
                   <div class="overlay">
                    <p class="text">San Diego DUI Penalties</p>
                     </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Blood Alcohol Level (BAC)</span>
                <a href="/san-diego-blood-alcohol-level-bac/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-Blood-Alcohol-Level1.jpg.webp" width="367" height="103"
                        style="margin-top: 1px;">
                   <div class="overlay">
                    <p class="text">San Diego Blood Alcohol Level (BAC)</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Field Sobriety Tests</span>
                <a href="/san-diego-field-sobriety-tests/">
                <div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-DUI-Tests.jpg.webp" width="367" height="103" style="margin-top: 1px;">
                    <div class="overlay">
                        <p class="text">San Diego Field Sobriety Tests</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego DMV Hearing Defense Lawyer</span>
                <a href="/san-diego-dmv-defense-lawyer/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-DMV-Defense-1.jpg.webp" width="367" height="103" style="margin-top: 1px;">
                    <div class="overlay">
                        <p class="text">San Diego DMV Hearing Defense Lawyer</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Drug Lawyer</span>
                <a href="/san-diego-drug-lawyer/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-Drug-Charges-Attorneys.jpg.webp" width="367" height="103"
                        style="margin-top: 1px;">
                    <div class="overlay">
                        <p class="text">San Diego Drug Lawyer</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Methamphetamine Lawyerr</span>
                <a href="/san-diego-methamphetamine-lawyer/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-Methamphetamine-Lawyers.jpg.webp" width="367" height="103"
                        style="margin-top: 1px;">
                    <div class="overlay">
                        <p class="text">San Diego Methamphetamine Lawyerr</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Marijuana Lawyer
                </span>
                <a href="/san-diego-marijuana-lawyer/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-Marijuana-Attorneys.jpg.webp" width="367" height="103"
                        style="margin-top: 1px;">
                    <div class="overlay">
                         <p class="text">San Diego Marijuana Lawyer</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Theft Lawyer</span>
                <a href="/san-diego-theft-lawyer/"><div class="dis">
                    <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                        src="/img/1San-Diego-Theft-Attorneys.jpg.webp" width="367" height="103"
                        style="margin-top: 1px;">
                    <div class="overlay">
                        <p class="text">San Diego Theft Lawyer</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    class="box-title">San
                    Diego Burglary Lawyer</span>
                <a href="/san-diego-burglary-lawyer/"><div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Burglar-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 1px;">
                        <div class="overlay">
                            <p class="text">San Diego Burglary Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Assault and Battery Lawyer</span>
                    <a href="/san-diego-assault-battery-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Assault-Battery-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                          <div class="overlay">
                             <p class="text">San Diego Assault and Battery Lawyer</p>
                         </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Domestic Violence Lawyer
                    </span>
                    <a href="/san-diego-domestic-violence-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Domestic-Violence-Defense-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Domestic Violence Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Child Abuse Lawyer</span>
                    <a href="/san-diego-child-abuse-lawyer"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Child-Abuse-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Child Abuse Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Child Endangerment Lawyer</span>
                    <a href="/san-diego-child-endangerment-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Child-Endangerment-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Child Endangerment Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Restraining Order Lawyer</span>
                    <a href="/san-diego-restraining-order-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Restraining-Order-Defense-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Restraining Order Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Property Crime Lawyer
                    </span>
                    <a href="/san-diego-property-crime-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Property-Crime-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                         <div class="overlay">
                        <p class="text">San
                            Diego Property Crime Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Vandalism Lawyer</span>
                    <a href="/san-diego-sex-crimes-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Vandalism-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                         <div class="overlay">
                        <p class="text">San
                            Diego Vandalism Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Sex Crimes Lawyer</span>
                    <a href="/san-diego-prostitution-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Sex-Crime-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Sex Crimes Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Prostitution Lawyer</span>
                    <a href="/san-diego-rape-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Prostitution-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Prostitution Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Rape Lawyer</span>
                    <a href="/san-diego-fraud-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Rape-Attorneys.jpg.webp" width="367"
                            height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Rape Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Fraud Lawyer</span>
                    <a href="/san-diego-juvenile-crime-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Fraud-Attorneys.jpg.webp" width="367"
                            height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Fraud Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Juvenile Crime Lawyer</span>
                    <a href="/san-diego-federal-crimes-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Juvenile-Crime-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                         <div class="overlay">

                        <p class="text">San
                            Diego Juvenile Crime Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col item" style="height: 150px;"><span
                        class="box-title">San
                        Diego Federal Crimes Lawyer</span>
                    <a href="/san-diego-federal-crimes-lawyer/"><div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Federal-Crime-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 1px;">
                          <div class="overlay">
                        <p class="text">San
                            Diego Federal Crimes Lawyer</p>
                        </div>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>