<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Child Endangerment Lawyer</h2>
<p>If you&#8217;ve been accused of child endangerment, you may have many questions about the charges against you, possible penalties, and the best way to resolve your case.</p>
<p>Child endangerment, which is different from but also includes child abuse, is prosecuted aggressively in the state of California. The state&#8217;s child endangerment law covers physical pain and suffering as well as mental suffering. Often parents and legal guardians, as well as teachers and coaches, are accused of child endangerment stemming from disciplinary actions.</p>
<h2>California’s Child Endangerment Laws</h2>
<p>Under California&#8217;s child endangerment law, California Penal Code 273(a), the prosecutor may decide to charge you with a misdemeanor or felony offense. If the child was at risk for great bodily harm, the prosecution will no doubt charge you with a felony instead of a misdemeanor.</p>
<p>Even if your child does not suffer actual injuries, the penal code states you may still be found guilty if you willfully permitted or caused a child to be in a situation where he or she is endangered. An example is intentionally leaving a child unattended in a hot car for hours, even if the child survives without injuries</p>
<h2>Child Endangerment Penal Code Section 273a</h2>
<p>The crime of child endangerment can result in years of being in jail, as well as preventing you from seeing your children for years. Other offenses related to child endangerment include <strong>child abuse</strong><strong>,</strong> domestic violence, and <strong>lewd acts with a minor, each of which carries additional consequences affecting you as well as your family</strong>.</p>
<p>Under the Child Endangerment Penal Code Section 273a law, it is illegal to:</p>
<ul>
<li>Cause or permit a child to suffer unjustifiable physical pain or mental suffering;</li>
<li>Willfully cause or permit a child in your care to be injured; or</li>
<li>Willfully cause or permit a child to be placed in a dangerous situation.</li>
</ul>
<p>You can be immediately arrested if a police officer sees you doing any of the above. Any willful, deliberate action that could cause harm to a child is grounds for <strong>child endangerment.</strong></p>
<h2>Defenses to Minimize Penalties and Consequences for Child Endangerment</h2>
<p>In child endangerment cases, the prosecution must prove beyond reasonable doubt that you willfully and intentionally placed your child in danger that could have resulted in great bodily harm.</p>
<h3><a title="Contact" href="https://www.sevenslegal.com/contact/"><span style="text-decoration: underline;">Contact a San Diego Child Endangerment Lawyer</span></a></h3>
<p>If there is a strong case against you, but you do not want to fight the charges in court, there are many ways we can discuss with you to help minimize any penalties and consequences resulting from your charges that could help minimize the penalties you would face if you are convicted at trial.</p>
<p>If you have been accused of child endangerment you need the expert legal defense of Sevens Legal, APC. Contact Sevens Legal, APC, today for a free consultation.</p>   
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>