<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><strong><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego DUI Penalties</strong></h2>
The state of California enforces strict penalties for individuals charged with Driving Under the Influence (DUI) or Driving While Intoxicated (DWI). A no-tolerance policy generally applies and high fees, license suspension and the possibility of incarceration are the result or a DUI/DWI arrest. The skilled attorneys at Sevens Legal, APC have over 40 years of combined experience in dealing with criminal law, specifically DUI/DWI cases. With the added expertise provided by a former prosecutor, you are in good hands when working alongside Sevens Legal.
<h2>DUI Consequences</h2>
Being charged with a DUI/DWI can impact your life in many ways, affecting your reputation, your record, your employment, your family life, finances and overall sense of wellbeing. According to the San Diego DMV Penalty Chart Vehicle Code Section 23152, <a href="https://sandiegoduilawyers.com/1st-time-offense-dui-lawyer/" target="_blank" rel="noopener">DUI/DWI first time offenders are generally charged with up to 6 months of license suspension</a>, a probationary period, a drug and alcohol education program, upwards of $1,000 in fines and penalties plus additional legal fees and up to 6 months behind bars. Other stipulations may include vehicle impoundment, an ignition interlock device to test Blood Alcohol Concentration (BAC) prior to driving, a period of community service or participation in a Mothers Against Drunk Driving (MADD) Victim Impact Panel.
<h2>Second DUI Offense</h2>
For individuals faced with their <a href="https://sandiegoduilawyers.com/2nd-time-offense-dui-lawyer/">second DUI/DWI offense within a 10-year period</a>, according to the San Diego DMV Penalty Chart Vehicle Code Section 23152, they may face up to 30 months in an alcohol treatment program, upwards of $1,000 in fines and penalties plus additional legal fees, a probationary period, up to 2 years of license suspension, up to 1 year behind bars and the installation of an ignition interlock device to test Blood Alcohol Concentration (BAC) prior to driving. Other stipulations may include vehicle impoundment, a period of community service or participation in a Mothers Against Drunk Driving (MADD) Victim Impact Panel.
<h2>Third DUI Offense</h2>
For individuals facing their <a href="https://sandiegoduilawyers.com/3rd-time-offense-dui-lawyer/" target="_blank" rel="noopener">third DUI/DWI offense within a 10-year period</a>, according to the San Diego DMV Penalty Chart Vehicle Code Section 23152, they may face upwards of $1,000 in fines and penalties plus additional legal fees, up to 1 year behind bars, up to 3 years of license revocation, participation in an 18-month alcohol treatment program, a probationary period, possible vehicle impoundment, participation in a Mothers Against Drunk Driving (MADD) Victim Impact Panel and a period of community service.
<h2>Fourth Time DUI Offense</h2>
<a href="https://sandiegoduilawyers.com/4th-time-offense-dui-lawyer/" target="_blank" rel="noopener">Fourth time DUI/DWI offenders</a> within a 10-year period, according to the San Diego DMV Penalty Chart Vehicle Code Section 23152, may face upwards of $1,000 in fines and penalties plus additional legal fees, a probationary period, up to one year behind bars, up to 4 years of having their license revoked and participation in an 18-month alcohol treatment program. Other stipulations may include up to 36 months in a federal prison, vehicle impoundment, participation in a Mothers Against Drunk Driving (MADD) Victim Impact Panel and a period of community service.
<h3>Conditions that May Affect Your DUI Case</h3>
Conditions and changes to the above listed DUI/DWI penalties are subject to the nature of each case and do not reflect certain circumstances that may impact license restriction, incarceration, alcohol treatment and fines. Conditions that may alter or enhance one’s sentencing include:

&nbsp;
<ul>
 	<li>Reckless driving</li>
 	<li>Excessive speeding</li>
 	<li>Driving under the influence with a minor passenger</li>
 	<li>Violating safety and/or construction zones</li>
 	<li>Bodily harm of another and/or manslaughter</li>
 	<li>Previous felony charges</li>
 	<li>A Blood Alcohol Concentration (BAC) of 0.15% or high</li>
</ul>
<h3>Contact a San Diego DUI Defense Lawyer</h3>
At Sevens Legal, we are here to support you with what may be the hardest challenge of your entire life. With careful consideration of case specifics and impeccable analysis of all available evidence, our attorneys will build your case with bedrock integrity. We will inform you about your rights, empower you with knowledge and aggressively represent your interests in court. If you or someone you love is in need of sound legal counsel in regards to a criminal defense charge, call our skilled attorneys at Sevens Legal, APC today at 619-297-2800 for a free consultation.
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>