<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Child Abuse Lawyer</h2>
<h2>What is Child Abuse and Neglect?</h2>
State law defines child abuse as (1) physical injury inflicted on a child by another person, (2) sexual abuse, or (3) emotional abuse. Child neglect is defined as negligent treatment which threatens the child&#8217;s health or welfare.

&nbsp;

<b>Under California law, child abuse is the non-accidental means of inflicting the following to a minor:</b>
<ul>
 	<li><b>Sexual abuse</b></li>
 	<li><b>Physical abuse</b></li>
 	<li><b>Emotional abuse</b></li>
 	<li><b>Exploitation</b></li>
 	<li><b>General neglect</b></li>
 	<li><b>Severe neglect</b></li>
</ul>
While there are many definitions of child abuse, a common cause are caregivers that do not provide for the basic needs of a child. This failure to act, resulting in serious harm, or risk of harm, to a child is abuse, the equal of physical harm, emotional harm, exploitation, and death.

The majority of child abuse cases are sadly caused by the adults that innocent children rely on for support, protection, guidance, and love. Child abuse can occur in all racial, cultural, and economic lines.

Issues related to child abuse and neglect can be emotionally charged for those involved. Additionally, child physical or emotional abuse claims may arise in a variety of situations and even sometimes with ulterior motives. These cases arrive before a court on a wide variety of paths. A case may begin when a child innocently tells mommy what happened in school today. In other instances, a government agency such as Child Protective Services may be the first to uncover a child&#8217;s abuse. Abuse cases are frequently complicated because of the victims&#8217; age and are often highly contested. Anyone who has been accused of child abuse should seek a qualified child abuse attorney.
<h2>Physical Abuse</h2>
Physical abuse has many forms, and may be due to inappropriate or excessive physical discipline. Physical abuse includes punching, beating, kicking, and burning. Emotional or mental abuse is more subtle than physical abuse but carries the same impact.

Recognizing this impact on California&#8217;s children, the state Attorney General administers the Child Abuse Central Index (CACI) which receives data from child abuse investigations and tracks different kinds of child abuse, including physical, sexual, and mental. CACI information is then made available to aid law enforcement investigations, prosecutions, and to provide notification of new child abuse investigation reports involving the same suspects and/or victims.
<h3>California Penal Code §288 and §288.5</h3>
California has a number of criminal laws that may be applicable to those that have been accused of child abuse. California Penal Code §288 and §288.5 address abusive acts to children ages 14 and younger.
<h2>Molestation</h2>
Molestation occurs when any lewd or lascivious act is committed on a child. These acts involve any touching of the child that can cause harm. Physical abuse of a child that results in corporal injury (§273d), including beating or causing harm to a child, can be considered a severe crime. Battery (§242) towards a child is also taken very seriously. Battery is the use of force or violence against a child. Unlawful sexual intercourse between an individual over the age of 21 and another under the age of 16 is considered statutory rape under penal code §261.5
<h3><a title="Contact" href="#contactform"><span style="text-decoration: underline;">Contact a San Diego Child Abuse Lawyer</span></a></h3>
If you have been accused of child abuse, or suspect your child is the victim of child abuse, you need to contact the police immediately, and then seek the assistance of an experienced child abuse attorney such as Sevens Legal, APC. Contact Sevens Legal, APC, today for a free consultation. With child abuse, time is of the essence.   
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>