<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <section class="position-relative py-4 py-xl-5 practice-areas-single">
        <div class="container position-relative">
          <h2><img src="/img/Samantha-Greene-2-200x300.jpg.webp" alt="{{ .Title }}" width="200" height="300" class="align-right" />San Diego Federal Crimes Lawyer</h2>
<p>Being investigated or charged with a crime by a federal agency is a sobering and often intimidating situation. The Federal Government can use an array of powerful investigative tools as well as having access to judicial assistance to build a case against you. Technological means such as wiretaps, pen registers (dialed number recorders), video surveillance, as well as seemingly unlimited manpower may be employed. In the public’s mind, cases prosecuted in federal court are most often large, complex drug trafficking cases, or white-collar crime offenses like Bernie Madoff’s Ponzi scheme. Though high profile cases may dominate national headlines, they represent a small percentage of federal offenses prosecuted by the U.S. Attorney’s Offices and the U.S. Department of Justice.</p>
<p>Federal prosecutors have the power to create a task force from various law enforcement agencies at all levels – federal, state and local- into a powerful prosecution team. Accordingly, federal prosecuting attorneys have the ability to bring tremendous resources against you, and they will not hesitate to do so.</p>
<h2>Federal Crime Definition</h2>
<p>Crimes are defined as federal crimes when they either cross state lines, involve a federal agency (e.g., the post office, federally insured banks, the SEC and HUD) or involve the Internet. The most common cases prosecuted at the Federal level include drug trafficking, bank robbery, and Internet pornography. Other federal crime violations involve white-collar offenses such as mail fraud, wire fraud, bank fraud, and money laundering. Human trafficking, firearms violations, and national security crimes are also examples of crimes that may violate federal law.</p>
<h2>San Diego Mail Fraud Lawyer</h2>
<p>Fraudulent misrepresentations and schemes to defraud which use the United States mail to further that fraudulent conduct can be prosecuted as “mail fraud.”<br>
The mail fraud statute requires that use of the U.S. mail or any mail carrier be made in an attempt to carry out the fraud. If any fraud scheme uses the mail systems to make that fraud scheme function, The United States Attorney’s Office may seek an indictment (a charging document formally charging the person with a crime) for mail fraud. Mail fraud is not any one type of fraudulent scheme. Any scheme that uses some kind of fraud or misrepresentation wherein the U.S. mails or commercial carriers are used to mail an item related to the scheme, such as a check, a contract, an application for credit, property valuations, etc., is mail fraud.</p>
<h2>Concealed Weapon Federal Crime</h2>
<p>Bringing a concealed weapon into an airport can violate California state law, as well as Federal Law. Passing through a TSA security checkpoint with such a weapon in a carry-on bag certainly could be construed to be a violation of these laws. Federal law makes it illegal to attempt to introduce a concealed weapon or firearm on to an aircraft. The law states that it is a crime for an individual who is on, or attempting to get on, an aircraft to have on their person, or carry in such a way that it would be accessible to them, a concealed dangerous weapon. As a very serious offense, it carries the possibility of up to 10 years in prison.</p>
<h2>San Diego Federal Drug Crime Lawyer</h2>
<p>Perhaps the most common of federal cases involve drugs. These federal drug cases are often the result of an investigation that utilizes a variety of investigative techniques, yielding various types of evidence from many sources. Examples include intercepted cell phone calls, emails, surveillance, items retrieved from trash, and occasionally wire-tap investigations (involving judicially authorized recordings of telephone conversations of targets of the investigation), and often the drugs themselves.</p>
<p>Conspiracy charges are common in federal drug indictments, because there are usually various persons involved in the trafficking of large quantities of illegal substances. A conspiracy charge allows federal prosecution of all individuals who had a role in the trafficking scheme.</p>
<h3><a href="#contact"><span style="text-decoration: underline;">Contact a&nbsp;San Diego Federal Drug Crime Lawyer</span></a></h3>
<p>If you are facing potential federal charges, federal agents may have already accumulated evidence against you. This makes it especially necessary to consult an attorney experienced in federal law as soon as possible. Contact Sevens Legal, APC, today for a free consultation.</p>  
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>