<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}


    <style>
        .dis {
            position: relative;
        }

        .dis .text {
            position: absolute;
            display: flex;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            visibility: hidden;
            font-weight: bold;
        }

        .dis:hover .text {
            visibility: visible;
        }
    </style>

</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
  after banner
    <section class="photo-gallery py-4 py-xl-5">
        <div class="container">
		
        </div>
    </section>
  
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
</body>

</html>